
{% load staticfiles %}

<html>
	<head>
		<title>
			Contact us
		</title>
		{% include "rango/navbar.html" %}
	</head>
	<body>
<div class="jumbotron">
		<div class="container" id="#contact">
		<div class="row">
			<div class="col-lg-12">
				<p align="center"><font size="50"><u>Contact Us</u></font></p>
				

			</div>
		</div>
		
			<div class="row ">
				<p align="center"><input type="text" name="firstname" placeholder="Name" class="form-control input-lg"></p>
			</div>
			<div class="row">
				<p align="center"><input type="text" name="firstname" placeholder="Email Address" class="form-control input-lg"></p>
			</div>
			<div class="row">
				<p align="center"><input type="text" name="firstname" placeholder="Phone Number" class="form-control input-lg"></p>
			</div>
			<div class="row">
				<p align="center"><input type="text" name="firstname" placeholder="Message" class="form-control input-lg"></p>
			</div>
			<br/>
			<p align="center"><a href="#" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-send"></span>  SEND</a></p>
			<br>
			<br>
	</div>
</div>
</html>